/* Contactanos.css */

.img-construccion {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura según sea necesario */
  }
  
  .img-construccion img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: 90%; /* Mantiene la proporción de la imagen */
  }
  