.contenedor-servicios {
    position: relative;
}

.contenedor-servicios img {
    width: 100%;
    height: 500px; /* Ajusta el tamaño de la imagen según sea necesario */
}

.letras {
    position: absolute;
    top: 50%; /* Coloca el texto en el centro vertical */
    left: 50%; /* Coloca el texto en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el texto */
    text-align: center; /* Alinea el texto al centro */
    color: white; /* Color del texto */
    z-index: 2; /* Asegura que el texto esté delante de la imagen */
    font-weight: bold;
}

.letras span {
    font-size: 50px; /* Tamaño del texto */
}

.letras span i {
    color: #0ba9cc; /* Cambia esto al color que desees */
    font-style: normal;
}

.letras p {
    font-size: 20px; /* Tamaño del texto */
}

.contenedor-servicios::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro con transparencia */
    z-index: 1; /* Asegura que la superposición esté delante de la imagen */
}

.titulo-servicios {
    text-align: center;
    font-size: 20px;
}

.tipos-servicio {
    display: flex;
    justify-content: space-around; /* Para distribuir los elementos horizontalmente */
}

.servicio1,
.servicio2,
.servicio3,
.servicio4,
.servicio5 {
    width: 30%; /* Ajusta el ancho de cada servicio según sea necesario */
    padding: 10px; /* Añade espacio interno */
    text-align: center; /* Alinea el contenido al centro */
}

.servicio1 h3,
.servicio2 h3,
.servicio3 h3,
.servicio4 h3,
.servicio5 h3 {
    font-size: 20px; /* Tamaño del título */
    color: #333; /* Color del título */
    margin-bottom: 5px;
}

.servicio1 p,
.servicio2 p,
.servicio3 p,
.servicio4 p,
.servicio5 p {
    font-size: 16px; /* Tamaño del párrafo */
    color: #666; /* Color del párrafo */
    line-height: 1.5; /* Altura de línea del párrafo */
}

.servicio1 img,
.servicio2 img,
.servicio3 img,
.servicio4 img,
.servicio5 img {
    display: block;
    margin: 30px auto 0;
}

.intro-heramientas {
    font-size: 20px;
    text-align: center;
}

